{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h1>User profile ({{ object.username }})</h1>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
      <p>Github username: {{ github_username }}</p>
      <img src="{{ github_avatar_url }}" alt="Github Avatar">
      <p>List of repositories</p>
      <ul>
        {% for repo in github_repositories %}
          <li>
            <a href="{{ repo.url }}" target=_blank>{{ repo.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

