{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>User Profile</h1>
    </div>
    <div class="col-md-5">
      <p>Github Username: <strong>{{ github_username }}</strong></p>
      <figure class="figure">
        <img src="{{ github_avatar_url }}" class="figure-img img-fluid rounded" width="400" height="400" alt="Github avatar for {{ github_username }}.">
      </figure>
    </div>
    <div class="col-md-6">
      <p>Repositories</p>
      <ul class="list-group" style="max-height: 400px; overflow: scroll;">
        {% for repo in github_repositories %}
          <li class="list-group-item">
            <a href="{{ repo.url }}" target=_blank>{{ repo.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock content %}

